/* Adicione ou modifique estas regras CSS no seu arquivo formacao.css */
body {
    background-image: url(imagens/32947939_491362538070.jpg);
    background-position: center;
    background-size: 112%;
    font-family: OCR A Std, monospace;
}

h1 {
    color: #00fff5;
    font-size: 50px;
    margin-left: 50px;
    font-family: 'Russo One';
    font-family: OCR A Std, monospace;
}

.content-section {
    
    margin-left: 50px;
    margin-top: 20px; /* Adicione um valor desejado para a margem superior */
    display: flex;
    justify-content: space-between;
}
main {
    margin: 20px; /* Adicione margens ao redor do main conforme necessário */
}

.card {
    width: 30%; /* Ajuste conforme necessário para atender às suas preferências */
    box-sizing: border-box;
    margin-top: 50px;
}

.card img {
    width: 100%; /* Altere para 100% para garantir que a imagem ocupe toda a largura do card */
    display: block;
    margin-left: -15px;
}

.card:hover {
    transform: scale(1.10);
    transition: 0.5s;
    
}

.card p {
    color: white;
    font-size: 30px;
    font-family: OCR A Std, monospace;
}

#escolaridade {
    font-size: 25px;
}

#ensino {
    font-size: 25px;
}

#cursos {
    font-size: 25px;
}

a:link {
    text-decoration: none;
}
