body {
    background-color: rgb(34, 34, 34);
    font-family: OCR A Std, monospace;
}

h1 {
    color: #00fff5;
    font-size: 50px;
    margin-left: 50px;
    font-family: 'Russo One';
    font-family: OCR A Std, monospace;
}

.content-section {
    margin-left: 50px;
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%; 
    box-sizing: border-box;
    margin-top: 50px;
}

.card img {
    width: 100%; 
    display: block;
    margin-left: -15px;
}

.card:hover {
    transform: scale(1.10);
transition: 0.5s;     
}

.card p {
    color: white;
    font-size: 30px;
    font-family: OCR A Std, monospace;
}

#escolaridade, #ensino, #cursos {
    font-size: 25px;
}

a:link {
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .card{
        margin-top: 200px;
    }
}